* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

#canvas {
  margin: 20px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#repor {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-top: 140px;
  margin-left: 275px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4c9baf;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#repor:hover {
  background-color: #428ea1;
}

#repor:active {
  background-color: #428ea1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#repor a {
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
}

#iniciar {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-top: 215px;
  margin-left: 275px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#iniciar:hover {
  background-color: #3e8e41;
}

#iniciar:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#iniciar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
}
