* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

#canvas {
  margin: 20px;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#repor {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-top: 140px;
  margin-left: 275px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border: thin solid rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
}

#repor a {
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
}

#repor a:hover {
  color: blue;
}

#iniciar {
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin-top: 215px;
  margin-left: 275px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border: thin solid rgba(0, 0, 0, 0.6);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 3px;
}

#iniciar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 32px;
}

#iniciar a:hover {
  color: blue;
}
